<% layout("/layouts/boilerplate") %>

<div class="row mt-4">
    <h1 class="col-6 offset-3" style="font-size: 2rem;">Change your password</h1>
    <div class="col-6 offset-3">
        <form action="/reset-password" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="newpass" class="form-label">New Password</label>
                <input
                    name="newpass"
                    id="newpass"
                    type="password"
                    class="form-control"
                    required
                >
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label for="confirmpass" class="form-label">Confirm Password</label>
                <input
                    name="confirmpass"
                    id="confirmpass"
                    type="password"
                    class="form-control"
                    required
                >
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-primary">Update Password</button>
        </form>
    </div>
</div>